.App {
  height: 100vh;
}
nav {
  position: absolute;
  top: 10px;
  left:0;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.title {
  background-color: #fff;
  padding: 20px;
  width: 30vw;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}



.info-box {
  min-height: 200px;
  width: 400px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  border-radius: 10px;
  z-index:2;
  padding: 10px;
  opacity: 0;
  transition-duration: 0.2s;
}

.hovered {
  opacity: 1;
}
.table-key {
  font-weight: bold;
}

@media (max-width: 600px) {
  .title {
    width: 80vw;
    flex-wrap: wrap;
  }
  .info-box {
    display: none;
  }
}